* {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif, Condensed, sans-serif;
    box-sizing: border-box;
}

/*====================header section and hover effects=======================*/
header {
    display: flex;
    justify-content: space-between;
    padding: 19px 24px;
    border-bottom: 2px solid gray;
    background-color: antiquewhite;
}

.navigation {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    list-style: none;
    margin-top: 21px;
}

.navigation a {
    padding: 12px 12px;
    text-decoration: none;
    margin: 12px 12px;
}

a {
    text-decoration: none;
    transition: all ease-in-out 0.5s;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all ease-in-out 0.5s;
}

 a:hover {
    color: rgb(118, 10, 190);
    border-bottom: 1px solid #070707;
    transform: translateY(-5px);
}


/*  ====================header img and text section ======================= */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* border: 1px solid red; */
    height: 31.25rem;
    /* width: 36rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

span {
    color: rgb(118, 10, 190);
}
.btn1{
    width: 8rem;
    padding: 0.5rem;
    margin: 0.5rem;
    position: absolute;
    top: 28rem;
    left: 4rem;
    background: none;
    border-radius: 25px;
    transition: all ease-in-out 0.5s;
    border: 1px solid rgb(150, 81, 196);
    cursor: pointer;
    position: absolute;
    top: 26rem;
    left: 1.5rem;

    
}

.btn2{
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    border: 1px solid rgb(150, 81, 196);
    width: 8rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background: none;
    border-radius: 25px;
    position: absolute;
    top: 26rem;
    left: 10rem;
     
}

.btn:hover {
    background-color: rgb(150, 81, 196);
    transform: translatey(-5px);
    border: none;
}

@media screen and (max-width:1111px) {
    .navigation{
        display: none;
    }
    header{
        justify-content: center;
    }
    .row{
        flex-direction: column;
        word-wrap: break-word;
        flex-wrap: wrap; 
    }
    .card{
        flex-basis: 1;
        height: 400px;
        overflow:hidden;
        flex-wrap: wrap;
    }
    .btn{
        display: flex;
        justify-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:568px) {
   
    p{
        font-size: small;
        flex-wrap: wrap;
    }   
    .img-card{
    height:25rem;
    } 
}
@media screen and (max-width:466px) {
   
    p{
        font-size: small;
        flex-wrap: wrap;
    }   
    .img-card{
    height:15rem;
    } 
}
@media screen and (max-width:280px) {
   h1,span{
    font-size: medium;
   }
    .btn{
        width: 6rem;
        
    }
}